<div id="mySidenav" class="sidenav">
  <div id="dashboard" routerLink="admin/admindashboard">
    <i class="material-icons"> group</i>
    <span class="service-hover">Profile</span>
  </div>

  <div id="home" routerLink="home">
    <i class="material-icons">account_balance</i>
    <span class="service-hover">Home </span>
  </div>

  <div id="about" routerLink="about">
    <i class="material-icons">location_city </i>
    <span class="service-hover">About </span>
  </div>

  <div id="login" routerLink="login">
    <i class="material-icons">exit_to_app </i>
    <span class="service-hover">Login </span>
  </div>
  <div id="employeeDetails" routerLink="employeeDetails">
    <i class="material-icons"> group</i>
    <span class="service-hover">Employee Details</span>
  </div>

  <div id="bankDetails" routerLink="bankDetails">
    <i class="material-icons">account_balance</i>
    <span class="service-hover">Bank Details </span>
  </div>

  <div id="basicData" routerLink="basicData">
    <i class="material-icons">location_city </i>
    <span class="service-hover">Basic Data </span>
  </div>

  <div id="customerDetails" routerLink="customerDetails">
    <i class="material-icons">exit_to_app </i>
    <span class="service-hover">Customer Details</span>
  </div>
</div>
